/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

/* 卡片区域 上方给一个间隙和文字大小 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* 重置卡片阴影 */
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* 表格与搜索框的间距 */
.el-table {
  margin-top: 15px;
  font-size: 12px;
}

/* 分页条与表格之间的间隙 */
.el-pagination {
  margin-top: 15px;
}

/* 步骤条的样式 */
.el-steps {
  margin: 15px 0;
  font-size: 13px;
}

/* 富文本编辑器页面样式 */
.ql-editor {
  min-height: 300px;
}